.frame1171276099-container {
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  gap: 22px;
  padding: var(--uedp-padding-4, 16px);
  box-sizing: border-box;
  color: var(--uedp-base-white, #ffffff);
  font-family: Inter, sans-serif;
}
