.frame1171276173-container {
  background-color: rgb(255, 255, 255);
  border-radius: 26.630218505859375px;
  padding: var(--uedp-padding-4, 16px);
  box-sizing: border-box;
  color: var(--uedp-base-white, #ffffff);
  font-family: Inter, sans-serif;
}
